@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Bentley, Australia
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rajinthacorera@gmail.com">rajinthacorera@gmail.com</a><br />
    
</address>